:root {
  --primary-color-1100: #c89329;
  --primary-color-900: #cda452;
  --primary-color-700: #edb542;
  --primary-color-200: #ffcf7057;
}

.customShadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/***user table***/
.userTable {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  table-layout: fixed;
}

.userTable td {
  padding: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.userTable th {
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.userTable td {
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

/**scrollbar hidden****/
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Slider arrows */

.arr-slider {
  fill: #fafafa;
}

/* Slide */

.z-slide--1 {
  z-index: -1;
}

.z-slide-1 {
  z-index: 1;
}

.z-slide-2 {
  z-index: 2;
}
.\!z-slide--1 {
  z-index: -1 !important;
}

.\!z-slide-1 {
  z-index: 1 !important;
}

.\!z-slide-2 {
  z-index: 2 !important;
}

.transition-position {
  transition: left 0.3s ease-in-out;
}

.active {
  color: var(--primary-color-700);
  background-color: #f1f5f9;
}

@media (min-width: 768px) {
  .active {
    --tw-bg-opacity: 1;
    border-bottom: 2px solid var(--primary-color-700);
    color: var(--primary-color-700);
    background-color: #f1f5f9;
  }
}

/* Colors */

.bg-primary-200 {
  background-color: var(--primary-color-200);
}
.bg-primary-900 {
  background-color: var(--primary-color-900);
}
.bg-primary-700 {
  background-color: var(--primary-color-700);
}
.text-primary-900 {
  color: var(--primary-color-900);
}
.text-primary-700 {
  color: var(--primary-color-700);
}
.hover\:bg-primary-700:hover {
  background: var(--primary-color-700);
}
.hover\:bg-primary-900:hover {
  background: var(--primary-color-900);
}

@media (max-width: 767px) {
  .store-container {
    justify-content: center !important;
  }
}

/* Text */

/* todo: add these properties to everything */
.text-break {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Main page section */

.main-section {
  background-image: url("../public/bg.jpg");
}

.main-with-footer {
  min-height: calc(100dvh - 120px);
}

.main-without-footer {
  min-height: calc(100dvh - 64px);
}

/* Any section */

.section-box-shadow {
  box-shadow: 0px 0px 10px #2c2c2c78;
}
